// Primary
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$base: #fff;
// Secondary
$veryPaleBlue: hsl(225, 100%, 98%);
$desatBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
// Active Colors
$activePurp: #766cf1;
